tempGuidance{
	border-color:black;
	border-top:1px solid;
	border-bottom:1px solid;

	border-right:1px solid;
	border-left:1px solid;
      

}

.imagesss img{
	display:block;
	width:50%;
	height:50%;
	margin-left:auto;
	margin-right:auto;
	align:center;

	 }

.imagesss2 img{
	width:20%;
	height:40%;
	display:inline;
	padding-left:15%;
	padding-right:15%;
	 }

.imagesss3 img{
	margin:15% 0 0 10%;
	padding: 50%;
	padding-left:20%;
	padding-right:40%;

	border:5px solid;
	align:center;
	padding:2px;
	padding: 1%;
	width: 30%;

}
.main-page-logo{
	width:70%;  
	height:70%;  
	margin:auto;
	display:block;
	margin:40px auto;
	img-align:center;

}
.sociallinks{
	float:right;
	//width:70%;
	//height:70%;
	padding-right:10%;
	//margin:auto;
	display:inline;
	//margin:40px auto;
	 }
.sociallinks img{
	float:right;
	width:3%;
	height:3%;
	padding:1px;
	 }
.wrapper{
	margin:auto;
	width:90%;
	padding:3%;
	link:black;

}
.short-heading{

	margin:0px;
	padding: 5px 20px;
	font-weight: 100;
	border-bottom: 1px solid;
	border-color: #A1A1A1;
	border-width: 3px;
	text-align:center;
	letter-spacing:2px;
	font-size:40px;
	margin-bottom:60px;
}
.small-saying{
	font-weight:127;
	font-size:35px;
	text-align:center;
	font-family:"Times New Roman";
	letter-spacing:1px;

	 }
.contents-heading .table-of-contents{
	display:inline;
	padding: 5px 5px 5px 40px;
	background-color:#FFFFF;
}
.contents-heading a{

	font-style: italic;
	color: #000000;
}
.tablefContents {
	padding: 40px 40px ;

}
.table-of-contents li{

	position:relative;
	overflow:hidden;
	width:330px;
	width:100%;
	margin-bottom:30px;
}
.contents-page-no{
	float:right;
	font-weight:bold;
	padding-left:5px;
}

.table-of-contents li:after{
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Indie Flower', cursive;
	font-size:8px;
	content:"..........................................................................................."
	text-indent: -1px;
	display:block;
	letter-spacing:14px;
	position:absolute;
	left:0px;
	bottom:6px;
	z-index:-1;
	font-weight:bold;

}

.contents-entry li:after{
	content:"......................................";
	z-index:0;
}
a:link{
	color:Black;
}
a:visited{
	color:Orange;
	}
a:hover{
	color:#320400;
}
.contents-entry {
//	font-family:"Times New Roman";

	font-family: 'Shadows Into Light', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Indie Flower', cursive;
	font-size:25px;
	content:"........................................................"
	z-index:-1;
	//padding:2px;
	alink:black;
	vlink:silver;

}
